#video{
    width:100%;
    height:250px;
    border: none;
}
.campus_life
{
    border:1px solid lightgrey;
}
.campuslife img
{
    width: 350px;
    height: 250px;
}
.campuslife h5 , .campuslife p
{
    margin: 20px;
}